body {
    background-color: #d62839;
    margin: 10% 0;
}

header {
    background-color: #cce6f4;
    color: #175676;
    padding-left: 15px;
}

#cssBtn { 
    position: absolute;
    right: 0;
    top:0;
    width: auto;
    height: auto;
    padding: 10px 10px;
    background-color: #4ba3c3;
    color: #d62839;
    border: none;
    font-family: monaco, Garamond, Optima, sans-serif;
    font-weight: bolder;
}

#cssBtn:hover {
    background-color: #503d3f;
    color: #52ffb8;
}

h1 {
    font-size: 4vw;
    font-family: Optima, Garamond, serif;
}

header > p {
    font-size: 1.5vw;
}

h2 {
    background-color: #175676;
    color: #cce6f4;
    width: 100%;
    text-align: center;
    font-size: 4vw;
    font-family: Copperplate, serif;
    
}

h2:hover {
    transform: scaleX(-1) scaleY(-1);
}

img {
    width: 40%;
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #cce6f4;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    transform: scaleX(-1) scaleY(-1);
}

h3 {
    background-color: #ba324f;
    color: #4ba3c3;
    width: 100%;
    text-align: center;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #cce6f4;
    font-size: 2vw;
    font-family: Geneva;
}

h3:hover {
    transform: scaleY(-1) scaleX(-1);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 5px 20%;
    background-color: #4ba3c3;
    border-radius: 5px;
}

.info:hover {
    transform: scaleX(-1) scaleY(-1);
}